@import "../variables";

.player {
  position: relative;
  min-width: 320px;
  width: 667px;
  height: 375px;
  background-color: $black;

  @media screen and (max-width: 667px) {
    width: 100vw;
    height: auto;
  }

  &__video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

