@import './components/all';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #282c34;
  color: $white;
}

.content {
  max-width: 1280px;
  min-width: 320px;
  @include flex-center-center;
  height: 100vh;

  @media screen and (max-width: 667px) {
    align-items: flex-start;
    height: auto;
  }

  @media screen and (orientation:landscape) {
    max-width: 100%;
  }
}
